* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
  --font-main: "Raleway", sans-serif;
  --color-primary: #9bbeff;
  --color-bg: #f9f9f9;
  --color-text: #080708;
  --spacing: 1rem;
  --font-size-small: calc(0.5rem + 0.5vw);
  /* small text */
  --font-size-p: calc(0.75rem + 0.5vw);
  /* paragraph */
  --font-size-h6: calc(0.8rem + 0.5vw);
  /* h6 */
  --font-size-h5: calc(0.9rem + 0.5vw);
  /* h5 */
  --font-size-h4: calc(1rem + 0.5vw);
  /* h4 */
  --font-size-h3: calc(1.1rem + 0.75vw);
  /* h3 */
  --font-size-h2: calc(1.3rem + 0.75vw);
  /* h2 */
  --font-size-h1: calc(1.5rem + 1vw);
  /* h1 */
}

body {
  font-family: var(--font-main);
  background-color: #f9f9f9;
}

/* NAVBAR */

#nav-bar {
  position: relative;
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  font-size: var(--font-size-h6);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding-right: 2rem;
  z-index: 100;
}

#nav-bar img {
  width: 70px;
  height: 70px;
  transition: scale 0.3s ease, transform 0.2s ease;
}

#nav-bar img:hover {
  transform: scale(1.1);
}

#link-container {
  display: flex;
  gap: 2rem;
}

#link-container a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 550;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease, transform 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

#link-container a:hover {
  border-bottom: 2px solid var(--color-text);
}

/* HERO */

#Home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;

}

#hero-text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 100%;
  color: white;
  text-align: center;
  padding: 0 1rem;
  font-size: var(--font-size-h3);
  margin-top: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#hero-title {
  color: var(--color-primary);
  -webkit-text-stroke: 8px black;
  paint-order: stroke fill;
  letter-spacing: 3px;
  text-shadow:
    0 0 4px rgba(0, 0, 0, 0.5),
    0 0 12px rgba(0, 0, 0, 0.7);
}

#hero-subtitle {
  font-weight: 400;
  color: var(--color-text);
}

/* ABOUT US */

#About_Us {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;

}

#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
}

#about-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-text);
}

#about-text>p {
  font-size: var(--font-size-h3);
  text-align: left;
  width: 80%;
}

#About_Us video {
  width: 20vw;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* HEADER TEXT */
.header-text {
  margin-top: 5vh;
  font-size: var(--font-size-h1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: var(--color-text);
}

.header-text::after {
  content: "";
  display: block;
  width: 50%;
  height: 4px;
  background-color: var(--color-text);
  margin: 0.5rem auto 0;
  BOX-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* OUR PRODUCTS */

#Products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
  gap: 3rem;
  background-color: var(--color-bg);
}

#Products img {
  width: 100px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.product-item {
  background: var(--color-primary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  BOX-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: scale 0.3s ease, transform 0.2s ease;
}

.product-item:hover {
  transform: scale(1.02);
}

.product-item:active {
  transform: scale(1.0);
}

.product-item h3 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 0 0 15px 15px;
  text-align: center;
  padding: 1rem 1rem;
}

#dishwashing {
  width: 185px !important;
}

#laundry {
  width: 150px !important;
}

/* CUSTOMERS */

#Customers {
  background: var(--color-primary);
}

.customer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
}

#Customers img {
  width: 420px;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 3rem 0;
}

.slides {
  display: flex;
  gap: 2rem;
  animation: slide 30s linear infinite;
}

.card {
  min-width: 450px;
  background: white;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* CONTACT */

#Contact {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-h5);
  gap: 3rem;
  padding: 1rem 0;
}

#Contact img {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: white;
}

#message {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 10px;
  font-size: var(--font-size-h3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transition: scale 0.3s ease, transform 0.2s ease;
}

#message:hover {
  transform: scale(1.04);
}

#message:active {
  transform: scale(1.0);
}

#Contact a {
  text-decoration: none;
  color: var(--color-text);
}

/* FOOTER */
footer {
  background-color: var(--color-text);
  color: var(--color-bg);
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 2vh;
}





@media (max-width: 768px) {}