* {
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

h1, p {
  text-align: center;
}

form {
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

fieldset {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 20px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

button {
  display: block;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.fave-type {
    display: flex;
    flex-wrap: wrap;
}